<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 为cn.ch10.entity包下的所有实体类的完整类名取一个别名。别名为类名 -->
	<typeAliases>
		<package name="cn.no1.pojo"/>
	</typeAliases>
</configuration>